<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastPunditStanding.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C90761BD456EA7FA4FF3E67015D26C5AA34B7561</string>
				<key>dateExpires</key>
				<string>30/10/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F5T7YA3D7F.org.reactjs.native.example.LastPunditStanding</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F5T7YA3D7F</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>F5T7YA3D7F.org.reactjs.native.example.LastPunditStanding</string>
				</array>
			</dict>
			<key>name</key>
			<string>LastPunditStanding.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>03ae471d-5b2e-40e3-a1b8-fb061411aa42</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.reactjs.native.example.LastPunditStanding</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F5T7YA3D7F</string>
				<key>name</key>
				<string>Richard Matthews</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
